<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">

        <title>Asignar servicio a un soldado</title>
    </head>
    <body>
        <h1>
            Seleccione los datos del servicio a asignar:
        </h1>

        <form method="post" action="asignarServicio">
            <table style="margin: 0 auto;">
                <tr>
                    <th>Soldado:</th>
                    <th>
                        <select name="codSoldado" size="1" >

                            <th:block th:each="militar : ${militares}">
                                <div th:if="${militar.tipo == 'Soldado'}">
                                    <option th:value="${militar.codigo}" th:text="'Codigo: ' + ${militar.codigo} + '  Nombre: ' + ${militar.nombre} + '  Apellido: ' + ${militar.apellido}"></option>
                                </div>
                            </th:block>

                        </select></th>
                </tr>
                <tr>
                    <th> Servicio:</th>
                    <th>
                        <select name="codServicio" size="1"  >
                            <th:block th:each="servicio : ${servicios}">                     
                                <option th:value="${servicio.codigo}" th:text="'Codigo: ' + ${servicio.codigo} + '  Descripcion: ' + ${servicio.descripcion}"></option>                              
                            </th:block>       
                        </select></th>
                </tr>
                <tr>
                    <th>Fecha:</th>
                    <th><input type="date" name="fecha"></th> 
                </tr>
            </table>

            <br>
            <input type="submit" style="width:110px; height:40px" value ="Enviar">  

        </form> 
        <p><a href="/menuPrincipal">Volver al menú principal</a></p>
    </body>
</html>